# Secrets
secrets
secrets/*
*.pub
*.key
*.crt
*.env
*.iso
*.decrypted~*
/age.key
/cloudflare-tunnel.json
/github-deploy.key
/github-deploy.key.pub
/github-push-token.txt
# Template config files
/cluster.yaml
/nodes.yaml
talos/clusterconfig/
# Kubernetes
kubeconfig
talosconfig
# Misc.
.private/
.task/
.venv/
.DS_Store
Thumbs.db
