---
machine:
  type: controlplane
  network:
    hostname: amnesia
    interfaces:
      - deviceSelector:
          driver: r8169
          hardwareAddr: 10:ff:e0:bb:53:d2
        dhcp: true
  install:
    diskSelector:
      model: "Samsung SSD 9100 PRO 2TB"
      serial: S7YCNJ0L214027M
    image: factory.talos.dev/metal-installer/2b5d5bac65ac2e1f4d620f4b7f29320708cef681a5ffa025cf8e5b48bc4862dd@sha256:7ad6bb3742a2316d993a7ac93d528d98a6ab060889c40ec086a1790f0f883a1f
    wipe: false
  kernel:
    modules:
      - name: nvidia
      - name: nvidia_uvm
      - name: nvidia_modeset
      - name: nvidia_drm
      - name: uinput
  nodeLabels:
    workload.cogito/gaming: "true"
    nvidia.com/device-plugin.config: gaming.yaml
---
apiVersion: v1alpha1
kind: VolumeConfig
name: EPHEMERAL
provisioning:
  maxSize: 400GiB
---
apiVersion: v1alpha1
kind: UserVolumeConfig
name: local-hostpath
provisioning:
  diskSelector:
    match: system_disk
  minSize: 500GiB
  grow: true
