---
# yaml-language-server: $schema=https://json.schemastore.org/helmfile
helmDefaults:
  timeout: 600
  cleanupOnFail: true
  wait: true
  waitForJobs: true

releases:
  - name: cilium
    namespace: cilium
    chart: oci://quay.io/cilium/charts/cilium
    version: 1.19.1
    atomic: true
    wait: true
    values:
      - {{ ENV.KUBERNETES_DIR }}/apps/cilium/cilium/app/helm/values.yaml
      - hubble: 
          enabled: false
          ui:
            enabled: false
          relay: 
            enabled: false
    hooks: 
      - events: ["postsync"]
        command: bash
        args:
          - -c
          - timeout 120s bash -c 'until kubectl get crd ciliumloadbalancerippools.cilium.io ciliumbgpadvertisements.cilium.io ciliumbgppeerconfigs.cilium.io ciliumbgpclusterconfigs.cilium.io &>/dev/null; do echo "Waiting for Cilium CRDs..."; sleep 5; done'
        showlogs: true
      - events: ["postsync"]
        showlogs: true
        command: "kubectl"
        args: ["apply", "-f", "{{ENV.KUBERNETES_DIR}}/apps/cilium/cilium/networking/"]

  - name: coredns
    namespace: kube-system
    chart: oci://ghcr.io/coredns/charts/coredns
    atomic: true
    version: 1.45.0

    needs:
      - cilium/cilium
    values:
      - fullnameOverride: coredns
        image:
          repository: mirror.gcr.io/coredns/coredns
        replicaCount: 2
        k8sAppLabelOverride: kube-dns
        serviceAccount:
          create: true
        rbac:
          create: true
        service:
          name: kube-dns
          clusterIP: 10.43.0.10

  - name: cert-manager
    namespace: cluster-infra
    atomic: true
    chart: oci://ghcr.io/home-operations/charts-mirror/cert-manager
    version: v1.17.1
    values:
      - crds:
          enabled: true
    needs:
      - kube-system/coredns

  - name: onepassword
    namespace: cluster-infra
    atomic: true
    chart: oci://ghcr.io/bjw-s-labs/helm/app-template
    version: 4.6.2
    values:
      - {{ENV.KUBERNETES_DIR}}/apps/cluster-infra/onepassword/app/helm/values.yaml
    needs:
      - cilium/cilium
      - kube-system/coredns

  - name: external-secrets
    namespace: cluster-infra
    atomic: true
    chart: oci://ghcr.io/external-secrets/charts/external-secrets
    version: 1.2.1
    values:
      - {{ENV.KUBERNETES_DIR}}/apps/cluster-infra/external-secrets/app/helm/values.yaml
    needs:
      - kube-system/coredns
      - onepassword
    hooks:
      - events: ["postsync"]
        showlogs: true
        command: "kubectl"
        args: ["apply", "-f", "{{ENV.KUBERNETES_DIR}}/apps/cluster-infra/external-secrets/stores/onepassword.yaml"]

  - name: flux-operator
    namespace: flux-system
    atomic: true
    chart: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-operator
    version: 0.40.0
    values:
      - {{ENV.KUBERNETES_DIR}}/apps/flux-system/flux-operator/app/helm/values.yaml
    needs:
      - kube-system/coredns

  - name: flux-instance
    namespace: flux-system
    atomic: true
    chart: oci://ghcr.io/controlplaneio-fluxcd/charts/flux-instance
    version: 0.40.0
    values:
      - {{ENV.KUBERNETES_DIR}}/apps/flux-system/flux-instance/app/helm/values.yaml
    needs:
      - flux-system/flux-operator
      - cluster-infra/external-secrets
