---
apiVersion: v1
kind: Namespace
metadata:
  name: cluster-infra
---
apiVersion: v1
kind: Namespace
metadata:
  name: network
---
apiVersion: v1
kind: Namespace
metadata:
  name: flux-system
---
apiVersion: v1
kind: Secret
metadata:
  name: github-deploy-key
  namespace: flux-system
stringData:
  identity: |
    {{ ENV.token | indent(4) }}
  known_hosts: |
    {{ ENV.FLUX_GITHUB_PUBLIC_KEYS | indent(4) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: onepassword-secret
  namespace: cluster-infra
stringData:
  1password-credentials.json: {{ ENV.ONEPASSWORD_CREDENTIALS_B64 }}
  token: {{ ENV.ONEPASSWORD_CONNECT_TOKEN }}